.Link {
  text-decoration: none;
}

.bg-home {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  min-height: 657px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.pag-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.logo-home {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -120px;
  margin-left: 15px;
}

.logo {
  width: 380px;
  height: 380px;
}

#menu {
  background: none;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: flex-end;
  justify-items: flex-end;
  padding-right: 15px;
  padding-top: 10px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
}

#menu ul li .home-buttons {
  color: #0d0d0d;
  display: block;
  padding: 15px 45px;
  text-decoration: none;
  font-family: fantasy;
  font-size: 20px;
  text-transform: uppercase;
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
}

#menu ul li .home-buttons:hover {
  background-color: #fdeaaf;
  border-radius: 10px;
}

#Order-filter {
  background: none;
}

#Order-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#Order-filter ul li {
  display: inline-block;
  padding: 0px 29px;
}

#Order-filter ul li select {
  color: #0d0d0d;
  display: block;
  padding: 8px;
  width: auto;
}

#Order-filter ul li select:hover {
  background-color: #fceec4;
  cursor: pointer;
}
