.home-background {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43345d;
  min-height: auto;
}

.card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  padding: 30px;
}

.card-container .cards {
  position: relative;
  max-width: 300px;
  height: 150px;
  background-color: #fff;
  margin: 20px 10px;
  padding: 30px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.card-container .cards:hover {
  height: 250px;
}

.card-container .cards .card-image {
  position: relative;
  width: 200px;
  height: 200px;

  top: -40%;
  left: 1px;
  z-index: 1;
}

.card-container .cards .card-image img {
  max-width: 100%;
  border-radius: 15px;
}

.card-container .cards .card-content {
  position: relative;
  top: -80px;
  padding: 10px 15px;
  color: #111;
  letter-spacing: 1px;
  font-size: 26px;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-container .cards:hover .card-content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
